html
    font-family: "system-ui", sans-serif

.fullpage
    min-height: 100vh

    .dots
        position: fixed
        right: 1rem
        bottom: 50%
        transform: translateY(80%)
        cursor: pointer
        padding: 0
        margin: 0
        list-style: none
        display: flex
        flex-direction: column
        gap: .5rem

        .dot
            width: .8rem
            height: .8rem
            transform-origin: center
            background-color: rgba(0, 0, 0, .5)
            border-radius: 50%

.slide
    min-height: 100vh
    display: grid
    place-items: center

html
    overflow: hidden
